

// $primary: black;


@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$custom-theme-colors: (
    "altlight": rgb(101, 221, 221)
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/bootstrap";


.image-card-text {
    color: white;
}

.card-image {
    object-fit: cover;
    height: 60vh;
    
  }

.test {
    background-color: black;
}

.pretest {
    background-color: red;
}
